body {
    background-color: #003366; /* 짙은 파랑 배경 */
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 500;
    min-height: 100vh;
}

.card {
    border-radius: 12px;
}

.preview-img {
    width: 250px;
    height: 250px;
    object-fit: contain; /* 이미지가 잘리지 않고, 지정된 크기 안에 모두 표시됩니다. */
    margin: 15px auto;
    display: block;
    border-radius: 8px;
}

.card-title {
    font-weight: 800;
}

.result-box .card-body {
    border-radius: 8px;
    background-color: #004488;
}

.result-box .card {
    background-color: #0055aa;
}