body {
  background-color: #003366; /* 진한 파랑 */
  font-family: 'Poppins', sans-serif;
  color: white;
  font-weight: 500;
  min-height: 100vh;
}

.card {
  border-radius: 12px;
}

.preview-img {
  width: 100%;          /* 카드 너비에 맞춤 */
  max-width: 400px;     /* 사진 최대 크기 제한 */
  height: auto;         /* 비율 유지 */
  margin: 15px auto;    /* 중앙 정렬 + 여백 */
  display: block;
  border-radius: 8px;
}

.card-title {
  font-weight: 800;
}

.result-box .card-body {
  border-radius: 8px;
}

.result-box .card-body img {
  width: 100%;
  max-width: 300px;
  height: auto;
  display: block;
  margin: 10px auto;
}