body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right, #003973, #000428); /* 진한 파랑 배경 */
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.card {
  max-width: 800px;
  width: 100%;
  margin: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.result-box {
  margin-top: 20px;
}

.preview-img {
  max-width: 100%;
  margin-top: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

h1 {
  font-weight: 800; /* 글씨를 굵게 */
}