body {
    background-color: #003366;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 500;
    min-height: 100vh;
}

.card {
    border-radius: 12px;
}

.preview-img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin: 15px auto;
    display: block;
    border-radius: 8px;
    box-shadow: 0 0 4px #0004;
}

.card-title {
    font-weight: 800;
}

.result-box .card-body {
    border-radius: 8px;
    background-color: #004488;
}

.result-box .card {
    background-color: #0055aa;
}