body {
    background-color: #003366;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 500;
    min-height: 100vh;
}

.card {
    border-radius: 12px;
}

.preview-img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin: 15px auto;
    display: block;
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25); /* #0004 대신 rgba 사용 */
}

.card-title {
    font-weight: 800;
}

.result-box .card-body {
    border-radius: 8px;
    background-color: #ffffff;
}

.result-box .card {
    background-color: #ffffff;
}

/* 새롭게 추가된 blue-text 클래스 */
.blue-text {
    color: #032c46 !important; /* lightskyblue */
}

/* 파일 입력 필드를 숨기는 스타일 */
#photoInput {
    display: none;
}

/* 라벨을 버튼처럼 보이게 하는 스타일 */
#fileLabel {
    background-color: #0055aa;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
}

#fileLabel:hover {
    background-color: #8db3d9;
}